version: "3.7"

networks:
  clean-network:
  
services:


  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - '3307:3307'
    networks:
      - clean-network
